<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>头条</string>
	<string>国际最新</string>
	<string>娱乐</string>
	<string>科技</string>
	<string>女人</string>
	<string>教育</string>
	<string>CBA最新</string>
	<string>社会</string>
	<string>互联网</string>
	<string>体育</string>
	<string>国内</string>
	<string>财经</string>
	<string>军事</string>
	<string>房产</string>
	<string>汽车</string>
	<string>健康</string>
	<string>两性</string>
	<string>影视</string>
	<string>电视剧</string>
	<string>游戏</string>
</array>
</plist>
